body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
    color: #333
}

header {
    background-color: #1d3557;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    display: inline-block;
    margin: 0 40px;
}
nav a {
    color: #ffd116;
    text-decoration: none;
    font-weight: bold;
    margin: 0 40px;
}

.index {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #ffffff;
}
.index small{
  font-size: 15px;
  margin-left: 800px;
}

footer {
    background-color: #eee;
    color: #777;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    margin-top: 100px;
}
footer a {
    color: #555;
    text-decoration: none;
    margin: 0 10px;
}
footer a:hover{
    color: #000;
    text-decoration: underline;
}



.post_preview {
  background-color: #fefefe;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 8px 24px rgb(0, 0, 0, 0.08);
  transition: transform 1s ease, box-shadow 0.3s ease;
}

.post_preview:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

.post_preview h2 a {
  color: #1d3557;
  text-decoration: none;
}

.post_preview h2 a:hover {
  text-decoration: underline;
}

.post_preview p {
  color: #555;
  margin-top: 10px;
}

.post_preview small {
  display: block;
  margin-top: 10px;
  font-size: 0.85em;
  color: #999;
}

.post1 h2 {
  text-align: center;
}
.post1 p {
  margin-left: 40px;
  margin-right: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image img {
max-width: 500px;
height: auto;
}
.text {
font-size: 18px;
color: #000;
}
